<!DOCTYPE html>

<html ng-app="productsModule">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="productsModule.js"></script>
</head>
<body>

    <div style="text-align: center;" ng-controller="ProductsController">

        <label>Search: </label>
        <input type="text" ng-model="text2Search" autofocus />

        <br />
        <br />

        <label>Order By: </label>
        
        <!-- ng-init sets an initial value for a Model.
            In this case it sets the initial option to be shown.
            Using the regular 'selected' attribute won't work here: -->
        <select ng-model="productsOrder" ng-init="productsOrder='productName'">
            <!-- The 'value' attribute must match the model properties: -->
            <option value="productName">Product Name</option>
            <option value="unitPrice">Unit Price</option>
        </select>

        <br />
        <br />

        <table border="1" align="center">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Image</th>
            </tr>

            <!-- orderBy determines the order criteria of the items: -->
            <tr ng-repeat="item in products | filter: text2Search | orderBy: productsOrder">

                <td>{{item.productID}}</td>

                <td>{{item.productName}}</td>

                <td>{{item.unitPrice}}</td>

                <td>
                    <img ng-src="images/{{item.productID}}.jpg" width="100" height="100" />
                </td>
            </tr>
        </table>

    </div>

</body>
</html>